.logo {
  width: 70%;
  height: 8rem;
  background-image: url("../../assets/images/logo1.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-top:4rem;
}
