
h1,h2,h3,h4 {
  color: $offwhite;
}
body {
  color: $secondary;
}
h1 {
 font-size: $large-bold;
 font-family: $bold;
}

.h1-2 {
 font-size: $large-bold;
 font-family: $medium-font;
}

.h1-2-light {
 font-size: $large-bold;
 font-family: $light-font;
}

.h1-light {
 font-size: $large-light;
 font-family: $light-font;
}

h2 {
 font-size: $medium-bold;
 font-family: $bold;
}

.h2-2 {
 font-size: $large-light;
 font-family: $bold;
}

.h2-light {
 font-size: $button-text;
 font-family: $bold;
 color: $offwhite;
}

h3 {
 font-size: $regular-size;
 font-family: $bold;
}
h4 {
 font-size: $medium-light;
 font-family: $bold;
}
a,
button,
input,
button.btn {
 font-size: $button-text;
 font-family: $medium-font;
}
.title {
 text-transform: uppercase;
}
.h3-light {
  font-size: $button-text;
  font-family: $bold;
  color: $primary-light;
}
.title_uppercase {
  text-transform: uppercase;
}
.banner-container{
  position: relative;
  width: 100%;
}
.banner-container .section {
  // position: sticky;
  top: 0;
  width: 100%;
  background: #000;
}
/*************************************************************************/
.side-menu {
  border-right: 1px solid $border-light;
  position: sticky;
  top: 0;
  z-index: 9999;
  width: 100%;
}
